html {
	background-color: #f9f9f9;
}

body {
	background-color: white;
	font-family: Helvetica, Arial;
	font-size: 12pt;
	max-width: 800px;
	min-width: 350px;
	margin: 0 7vw;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding-left: min(4vw, 3em);
	padding-right: 3em;
	padding-top: 3em;
	padding-bottom: 10em;
}

p {
	line-height: 1.25rem;
	text-indent: 1em;
	margin-left: 1em;
}

ul {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	margin-left: 1.5em;
}
