html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-image: url("/media/hellobg.png");
  background-position: top center;
  background-repeat: no-repeat;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*----Reset-End----*/
body {
  background-color: #000;
  color: #F7F7F7;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.66;
  overflow-x: hidden;
}
h1 {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 20px 0;
  line-height: 1.33;
}
h3 {
  font-size: 21px;
  font-weight: 700;
}
#twitter {
  width: 26px;
}
nav {
  width: calc(100% - 60px);
  margin: 0 30px 80px;
  text-align: right;
  color: #96A0AC;
}
nav span {
  vertical-align: top;
  position: relative;
  top: 33px;
  margin-right: 20px;
}
nav img {
  width: 30px;
  margin: 30px 10px;
}
.logo {
  float: left;
  width: 80px;
  margin-top: 40px;
}
.sectionContainer {
  margin: 0px auto;
  text-align: center;
  background-position: center;
  padding: 40px 0;
}
.sectionContainer-hello {
  text-align: left;
  position: relative;
  width: 1180px;
  height: 750px;
  margin-top: 0;
}
.sectionContainer-search {
  background-image: url("/media/searchbg.png");
}
.sectionContainer-search img {
  position: relative;
  top: 110px;
}
.sectionContainer-power {
  background-image: url("/media/powerusersbg.png");
  margin-top: -100px;
  margin-bottom: -20px;
}
.sectionContainer-power img {
  position: relative;
  top: 110px;
}
.sectionContainer-power p {
  margin-left: 20px !important;
}
#textHello {
  position: relative;
  top: 230px;
  max-width: 360px;
}
#imgHello {
  position: absolute;
  right: -10px;
  top: 0;
}
.wrapperDown {
  color: #96A0AC;
  font-size: 14px;
  line-height: 1.33;
  position: absolute;
  left: 0;
  bottom: 60px;
}
#imgScroll {
  width: 28px;
  margin-top: 10px;
}
.advantageContainer {
  display: inline-block;
  width: 240px;
  margin: 0px 20px;
  background-color: #0f1417;
  padding: 60px;
  vertical-align: top;
  border-radius: 16px;
  text-align: left;
}
.advantageContainer p {
  font-size: 14px;
  height: 136px;
  margin-top: 25px;
}
.advantageContainer img {
  margin-top: 10px;
  margin-bottom: 35px;
}
.halfWrapper {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}
.halfWrapper p {
  width: 400px;
  display: inline-block;
  margin: 0px 44px;
}
.halfWrapper h2 {
  display: block;
  margin: 280px 40px 30px 20px;
}
.halfWrapper-left {
  text-align: right;
}
.halfWrapper-right {
  text-align: left;
}
.sectionContainer-examples {
  background-image: url("/media/bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 70px !important;
}
.sectionContainer-examples h2 {
  width: 1400px;
  font-size: 50px;
  line-height: 1.2;
  margin: 0 auto 100px;
  padding-top: 300px;
}
.exampleWrapper {
  width: ;
  display: inline-block;
  vertical-align: top;
}
.exampleWrapper p {
  text-align: left;
  color: #96A0AC;
  margin: 10px 0 30px 0;
  font-size: 14px;
}
.exampleWrapper-left {
  margin: 0 20px;
}
footer {
  text-align: center;
}
footer h3 {
  border-top: 1px solid #35383D;
  padding-top: 40px;
}
footer p {
  font-size: 14px;
  color: #96A0AC;
  margin: 10px auto 40px;
}
.comingTitle {
  background-image: url("/media/bgcoming.png");
  margin: 60px auto 20px;
  padding: 77px;
  background-repeat: no-repeat;
  background-position: center;
}
.socials img {
  width: 30px;
  margin: 10px 10px 80px;
}
@media (max-width: 480px) {
  h1 {
    font-size: 24px;
    text-align: center;
  }
  body {
    font-size: 14px;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
  #imgHello {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
  }
  .sectionContainer-hello {
    width: auto;
    height: auto;
  }
  .sectionContainer-examples h2 {
    width: 84%;
    margin: 20px 8% 40px;
    padding: 0;
  }
  .comingTitle {
    padding: 52px 20px;
    background-size: contain;
    margin: 0;
  }
  .halfWrapper {
    width: 100%;
  }
  .halfWrapper p {
    width: calc(100% - 60px);
    margin: 0 auto;
    text-align: center;
    display: block;
    margin-bottom: 40px;
  }
  .halfWrapper h2 {
    width: 80%;
    margin: 0 10% 10px;
  }
  .navText {
    display: none;
  }
  .wrapperDown {
    display: none;
  }
  .sectionContainer-power img {
    width: 100%;
    top: -30px;
  }
  .sectionContainer-search img {
    top: 0px;
    width: 100%;
  }
  .exampleWrapper {
    width: calc(50% - 10px);
  }
  .exampleWrapper p {
    margin: 5px 0 20px 0;
  }
  .exampleWrapper img {
    width: 100%;
  }
  .exampleWrapper-big {
    width: 100%;
    margin-bottom: 20px;
  }
  .exampleWrapper-left {
    margin-right: 10px;
    margin-left: 0;
  }
  .exampleWrapper-right {
    margin-left: 10px;
  }
  .advantageContainer {
    padding: 20px 30px 30px;
    width: calc(100% - 60px);
    margin: 5px 0px;
  }
  .advantageContainer p {
    margin-top: 15px;
    height: auto;
    text-align: left;
  }
  .advantageContainer img {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 20px !important;
    text-align: center;
    line-height: 1.5 !important;
  }
  h3 {
    font-size: 16px;
  }
  .socials img {
    width: 30px;
    margin: 10px 10px 30px;
  }
  footer p {
    margin: 5px auto 20px;
  }
  footer h3 {
    padding-top: 20px;
  }
  #textHello {
    position: relative;
    top: 0px;
    width: 90%;
    margin: 15px 5% 35px;
  }
  .sectionContainer-examples {
    font-size: 0;
    padding-bottom: 0px !important;
    background-image: url("/media/mobile/bg.png");
    background-size: contain;
    padding-top: 0 !important;
  }
  .sectionContainer-examples h2 br {
    display: none;
  }
  .sectionContainer {
    padding: 0px 20px 60px;
  }
  nav {
    padding: 30px 0 0;
    width: 100%;
    display: block;
    height: auto;
    margin: 0;
  }
  nav img {
    width: 30px;
    margin: 0 auto;
    display: block;
  }
  .logo {
    float: none;
    width: 80px;
    margin-top: 0;
  }
  body {
    background-image: url("/media/mobile/hellobg.png");
    background-size: 100% auto;
  }
  .sectionContainer-power {
    background-image: url("/media/mobile/poweruserbg.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .sectionContainer-power p {
    margin-bottom: 100px;
  }
  .sectionContainer-power .halfWrapper-left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 2;
    order: 2;
  }
  .sectionContainer-power .halfWrapper-right {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .sectionContainer-search {
    background-image: url("/media/mobile/searchbg.png");
    background-size: contain;
  }
}
